//colors
$colors: (
  "blue-primary": #2a59fe,
  "white-primary": #ffffff,
  "white-secondary": #f9f9f9,
  "title-secondary": #333333b2,
  "black-primary": #000000,
  "red-primary": #ff0000,
  "grey-primary": #c4c4c4,
);

@each $name, $color in $colors {
  .c-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

//font-size
$fontSizes: (
  "9": 9px,
  "10": 10px,
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "16": 16px,
  "18": 18px,
  "24": 24px,
  "28": 28px,
);

@each $name, $fontSize in $fontSizes {
  .fs-#{$name} {
    font-size: $fontSize;
  }
}

//font-weight
$fontWeights: (
  "500": 500,
  "800": 800,
);

@each $name, $fontWeight in $fontWeights {
  .fw-#{$name} {
    font-weight: $fontWeight;
  }
}
