//variables import
@import "./variables";

//mixins import
@import "./mixins";

//component imports
@import "../components/navbar/style";
@import "../components/footer/style";
@import "../components/filters/style";
@import "../components/cart/style";
@import "../components/productCard/style";
@import "../components/addCartButton/style";
@import "../components/mobileCartButton/style";

//page imports
@import "./home";
@import "./productDetail/[id]/style";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @extend .bg-white-secondary;

  * {
    font-family: inherit !important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

main {
  max-width: 1400px;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 0 50px;

  @include m991 {
    padding: 0 20px;
  }
}

.ant {
  &-select {
    width: 100% !important;

    &-dropdown {
      // rc-select stylingde bug var?
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
  &-btn {
    &-primary {
      background: #2a59fe !important;
      width: 100% !important;
      height: 36px !important;
      border-radius: 4px !important;
    }

    &-link {
      span {
        text-decoration: underline;
      }
    }
  }
}

.box-title {
  @extend .fs-12;
  @extend .c-title-secondary;
}

.box-wrapper {
  @extend .bg-white-primary;
  padding: 15px;
  height: auto;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.custom-scroll-y {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    @extend .bg-white-primary;
  }

  &::-webkit-scrollbar-thumb {
    @extend .bg-grey-primary;
  }

  &::-webkit-scrollbar-thumb:hover {
    @extend .bg-grey-primary;
  }
}

.mobile-view {
  display: none;

  &.mobileCart {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2rem 2rem 0;
  }

  @include m991 {
    display: block;
  }
}
