//component imports
@import "../components/navbar/style";
@import "../components/footer/style";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
}
