.filters {
  width: 220px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &-sortOrder,
  &-brand,
  &-model {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .filter-title {
    @extend .box-title;
  }

  .filter-box {
    @extend .box-wrapper;
    min-height: 158px;
  }
}
